.syntax--source.syntax--gfm {
  .syntax--markup {
    -webkit-font-smoothing: auto;
  }

  .syntax--entity {
    color: @gun-powder;
  }

  .syntax--punctuation.syntax--definition {
    &.syntax--begin,
    &.syntax--end {
      color: @royal-blue;
    }
  }

  .syntax--quote {
    color: @waikawa-grey;
    font-style: italic;
  }

  .syntax--list {
    color: @royal-blue;
  }
}
