@import "colors";

// General colors
@syntax-text-color:            @gun-powder;
@syntax-cursor-color:          @java;
@syntax-selection-color:       @gainsboro;
@syntax-selection-flash-color: @java;
@syntax-background-color:      @snow;

// Guide colors
@syntax-wrap-guide-color:          @gainsboro-2;
@syntax-indent-guide-color:        @gainsboro-2;
@syntax-invisible-character-color: @gainsboro-2;

// For find and replace markers
@syntax-result-marker-color:          @very-light-gray;
@syntax-result-marker-color-selected: @java;

// Gutter colors
@syntax-gutter-text-color:                @gun-powder;
@syntax-gutter-text-color-selected:       @black;
@syntax-gutter-background-color:          @snow;
@syntax-gutter-background-color-selected: @very-light-gray;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:  @malibu;
@syntax-color-added:    @medium-turquoise;
@syntax-color-modified: @maya-blue;
@syntax-color-removed:  @bittersweet;

// For language entity colors
@syntax-color-variable:  @eastern-blue;
@syntax-color-constant:  @fuzzy-wuzzy-brown;
@syntax-color-property:  @black;
@syntax-color-function:  @royal-blue;
@syntax-color-method:    @eastern-blue;
@syntax-color-class:     @black;
@syntax-color-keyword:   @deep-liac;
@syntax-color-tag:       @deep-liac;
@syntax-color-attribute: @royal-blue;

// Custom variables
@syntax-cursor-line: fade(@gun-powder, 5%);
