@import "colors";

// General colors
@syntax-text-color:            @gun-powder;
@syntax-cursor-color:          @java;
@syntax-selection-color:       @very-light-gray;
@syntax-selection-flash-color: @java;
@syntax-background-color:      @snow;

// Guide colors
@syntax-wrap-guide-color:          @white-smoke;
@syntax-indent-guide-color:        @white-smoke;
@syntax-invisible-character-color: @white-smoke;

// For find and replace markers
@syntax-result-marker-color:          @very-light-gray;
@syntax-result-marker-color-selected: @java;

// Gutter colors
@syntax-gutter-text-color:                @gun-powder;
@syntax-gutter-text-color-selected:       @black;
@syntax-gutter-background-color:          @snow;
@syntax-gutter-background-color-selected: @very-light-gray;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:  @malibu;
@syntax-color-added:    @medium-turquoise;
@syntax-color-modified: @maya-blue;
@syntax-color-removed:  @bittersweet;

// For language entity colors
@syntax-color-variable:  @eastern-blue;
@syntax-color-constant:  @fuzzy-wuzzy-brown;
@syntax-color-property:  @gun-powder;
@syntax-color-value:     #D29B67;
@syntax-color-function:  #4876d6;
@syntax-color-method:    @syntax-color-function;
@syntax-color-class:     #E5C17C;
@syntax-color-keyword:   #a431c4;
@syntax-color-tag:       #b72424;
@syntax-color-attribute: @syntax-color-function;
@syntax-color-import:    @medium-violet-red;
@syntax-color-snippet:   @medium-violet-red;

// Custom variables
@syntax-cursor-line: fade(@gun-powder, 5%);
